* {
  margin: 0;
  padding: 0;
}
a {
  color: #3079ed;
  text-decoration: none;
  word-break: break-all;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: arial, sans-serif;
  font-size: 12px;
  width: 450px;
  overflow-x: hidden;
  background: #fff;
}
.panel {
  border: 1px solid #ddd;
  margin-bottom: 2px;
}
.panel-heading {
  padding: 8px 5px 8px 5px;
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: pointer;
}
.url {
  padding: 5px;
}
.ico {
  float: right;
  padding-left: 5px;
  transition: all 0.1s;
}
.ico:hover {
  transform: scale(1.1);
}
.ico:active {
  transform: scale(1);
}
.size {
  float: right;
  font-weight: bold;
}
#Tips {
  left: 0;
  right: 0;
  height: 20px;
  line-height: 18px;
  text-align: center;
  z-index: 11;
  pointer-events: none;
  color: #444;
  font-weight: bold;

  border: 2px solid #ffe475;
  border-radius: 2px;
  background: #fef7cb;
  padding: 0 10px;
}
#CloseBtn {
  background: #fff;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  cursor: pointer;
  padding: calc(0.5em - 1px) 1em;
}
#CloseBtn:hover {
  background: #f5f5f5;
}
#CloseBtn:active {
  background: #eee;
}
#player {
  text-align: center;
}
.button {
  background: #fff;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin: 2px 10px 4px 20px;
  float: left;
}
.button:hover {
  background: #f5f5f5;
}
.button:active {
  background: #ddd;
}
.Tabs {
  display: flex;
}
.TabButton {
  text-align: center;
  border: solid 1px #c7c7c7;
  color: rgb(26, 115, 232);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 3px;
  margin: 1px 1px 0 1px;
  align-items: flex-end;
}
.TabButton.Active {
  background-color: #f5f5f5;
  border-bottom-color: transparent;
}
.TabButton:nth-child(1) {
  margin-right: 5px;
}
#ToBottom {
  text-align: center;
  background: #fff;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  cursor: pointer;
  padding: 2px 10px 2px 10px;
  margin-bottom: 1px;
}
#ToBottom:hover {
  background: #f5f5f5;
}
#ToBottom:active {
  background: #ddd;
}
.DownCheck {
  float: left;
  vertical-align: middle;
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
.hide {
  display: none;
}
.TabShow {
  display: block !important;
}
