* {
  margin: 0;
  padding: 0;
}
a {
  color: #3079ed;
  text-decoration: none;
  word-break: break-all;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: arial, sans-serif;
  font-size: 12px;
  width: 470px;
  overflow-x: hidden;
  background: #fff;
}
.panel {
  border: 1px solid #ddd;
  margin-bottom: 2px;
}
.panel-heading {
  padding: 5px 5px 5px 5px;
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.panel-heading .name {
  flex: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.url {
  padding: 5px;
}
.ico,.icon {
  padding-left: 2px;
  padding-right: 2px;
  transition: all 0.1s;
  width: 18px;
  height: 18px;
}
.ico:hover {
  transform: scale(1.1);
}
.ico:active {
  transform: scale(1);
}
.leftIco {
  float: left;
  width: 18px;
  height: 18px;
  padding-right: 2px;
}
.size {
  float: right;
  font-weight: bold;
}
#Tips {
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  pointer-events: none;
  color: rgb(26, 115, 232);
  font-weight: bold;
  border: 2px solid #cdcdcd;
  border-radius: 2px;
  background: #f5f5f5;
  padding: 0 10px;
  margin-bottom: 1px;
}
#CloseBtn {
  background: #fff;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  cursor: pointer;
  padding: calc(0.5em - 1px) 1em;
}
#CloseBtn:hover {
  background: #f5f5f5;
}
#CloseBtn:active {
  background: #eee;
}
#player {
  text-align: center;
}
#player video {
  max-height: 300px;
}
.button {
  background: #fff;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  cursor: pointer;
  padding: 3px 5px 3px 5px;
  margin: 2px 5px 4px 5px;
}
.button:hover {
  background: #f5f5f5;
}
.button:active {
  background: #ddd;
}
.Tabs {
  display: flex;
}
.TabButton {
  text-align: center;
  border: solid 1px #c7c7c7;
  color: rgb(26, 115, 232);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  width: 50%;
  display: flex;
  padding: 3px;
  margin: 1px 2px 0 2px;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.TabButton.Active {
  background-color: #f5f5f5;
  border-bottom-color: transparent;
  font-weight: bold;
}
#ToBottom {
  text-align: center;
  background: #fff;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  cursor: pointer;
  padding: 2px 10px 2px 10px;
  margin-bottom: 1px;
}
#ToBottom:hover {
  background: #f5f5f5;
}
#ToBottom:active {
  background: #ddd;
}
.DownCheck {
  margin-right: 2px;
  width: 15px;
  height: 15px;
  flex: 0 0 auto;
}
.hide {
  display: none;
}
.TabShow {
  display: block !important;
}
#mediaQuantity,
#otherQuantity {
  font-weight: bold;
}
#down {
  display: flex;
  justify-content: space-between;
}
