a {
  color: #3079ed;
  text-decoration: none;
  word-break: break-all;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: arial, sans-serif;
  font-size: 12px;
  width: 500px;
  overflow-x: hidden;
  background: #fff;
  margin: 0;
}
.fixFirefoxRight {
  margin-right: 10px;
}
.panel {
  border: 1px solid #ddd;
  margin-bottom: 1px;
}
.panel-heading {
  padding: 5px 5px 5px 5px;
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.panel-heading .name {
  flex: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.url {
  padding: 5px;
}
.ico,
.icon {
  padding-left: 2px;
  padding-right: 2px;
  transition: all 0.1s;
  width: 18px;
  height: 18px;
}
.ico:hover {
  transform: scale(1.1);
}
.ico:active {
  transform: scale(1);
}
.leftIco {
  float: left;
  width: 18px;
  height: 18px;
  padding-right: 2px;
}
.size {
  float: right;
  font-weight: bold;
}
#Tips,
#TipsFixed {
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;
  pointer-events: none;
  color: rgb(26, 115, 232);
  font-weight: bold;
  border: 2px solid #cdcdcd;
  border-radius: 2px;
  background: #f5f5f5;
  padding: 0 10px;
  margin-bottom: 1px;
}
#TipsFixed {
  position: fixed;
  display: none;
}
#preview {
  max-height: 300px;
  text-align: center;
}
.button,
.button2 {
  background: #fff;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  cursor: pointer;
  padding: 3px 3px 3px 3px;
  margin: 0 0 3px 0;
  user-select: none;
}
.button:hover {
  background: rgb(66 133 244 / 4%);
}
.button:active {
  background: rgb(66 133 244 / 10%);
}
.button2 {
  background: rgb(26 115 232);
  color: rgb(255 255 255);
}
.button2:hover {
  background: rgb(26 115 232 / 90%);
}
.button2:active {
  background: rgb(26 115 232 / 50%);
}
.Tabs {
  display: flex;
}
.TabButton {
  text-align: center;
  border: solid 1px #c7c7c7;
  color: rgb(26, 115, 232);
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  width: 50%;
  display: flex;
  padding: 3px;
  margin: 1px 2px 0 2px;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  user-select: none;
}
.TabButton.Active {
  background-color: #f5f5f5;
  border-bottom-color: transparent;
  font-weight: bold;
}
.TabButton.Active div {
  font-weight: bold;
}
#ToBottom {
  text-align: center;
  background: #fff;
  border: solid 1px #c7c7c7;
  border-radius: 4px;
  color: rgb(26, 115, 232);
  cursor: pointer;
  padding: 2px 10px 2px 10px;
  margin-bottom: 1px;
}
#ToBottom:hover {
  background: #f5f5f5;
}
#ToBottom:active {
  background: #ddd;
}
.DownCheck {
  margin: 0 2px 0 0;
  width: 15px;
  height: 15px;
  flex: 0 0 auto;
}
.hide {
  display: none;
}
.TabShow {
  display: block !important;
}
#down {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}
.mediaList {
  margin-bottom: 30px;
}
#screenshots {
  max-width: 100%;
  max-height: 260px;
  cursor: pointer;
  margin: auto;
}
#getMediaInfo {
  width: 100%;
}
#otherOptions {
  margin: 5px;
}
#PlayControl {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#PlayControl .button2,
#PlayControl .button {
  margin-left: 5px;
}
#PlayControl #playbackRate {
  width: 3em;
  height: 20px;
}
#otherOptions select {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
.loop {
  margin: 0 5px 0 5px;
}
.blue {
  color: rgb(26, 115, 232);
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}
.nowrap {
  word-break: keep-all;
}
.otherScript .button2,
.otherFeat .button2 {
  width: 100%;
  margin-right: 10px;
  text-align: center;
}
.line {
  border-top: solid 1px rgb(0 0 0 / 50%);
  margin: 5px 0 5px 0;
}
.otherTips{
  text-align: center;
  color: rgb(26, 115, 232);
  margin-bottom: 5px;
  font-weight: bold;
}